.parent-section{
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
/* .section {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 50%;
  } */

.section-banner{
    border-radius:12px;
    background-color:salmon;
    width:75%;
    text-align: center;
    margin:auto;
}
#student-section{
    text-align: center;
}

#teacher-section {
    text-align: center;
    display: flex;
    margin:auto;

}

#log-in-form{
    display: inline-block;
    padding:10px;
    width:45%;
    margin:auto;

}

#or{
    display: inline-block;
    padding:10px;

   
}
#sign-up-form{
    display: inline-block;
    padding:10px;
    width:45%


}
.action-button {
    background-color: #96df8c; 
    border: none;
    color: #111010;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:12px;
   
}


.choice-button {
    background-color:salmon; 
    border: 1px solid salmon; 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    border-radius:10px;
  }
  
  .choice-button:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .choice-button:not(:last-child) {
    border-right: none; 
  }
  
  .choice-button:hover {
    background-color: #a6c8f0;}

#choice-btn-container{
    width:100%
}
h1 {
    text-align: center;}
h2 {
     text-align: center;}

