.header {
    background-color : #6ec0e0;
    text-align: center;
    padding: 0px;
    margin-bottom:5px;
    margin-top: 5px;
    font-size:45px;
    overflow: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position:relative;
    color:aliceblue
}

.action-button {
    background-color: #96df8c; /* Green */
    border: none;
    color: #111010;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:12px;
   
}

#logout{
    position: absolute;
    bottom: 0;
    right: 0;
}


.navbar{
    color:white;
    width:100%;
    /* overflow: auto; */
}
.nav-link{
    background-color: #66acc7;
    text-align: center; 
    padding: 10px 24px; 
    margin:10px;
    text-decoration:none;
    color:black;
    font-size: 30px;
    border-radius:10px;


}

.nav-link:hover {
    background-color: #a6c8f0;}

.prize-picture{
    max-width:300px;
    max-height: 200px;
}

#student-card-container{
    display:inline-table;


}
#student-card{
    background-color: #96df8c;
    border-radius: 12px;
    text-align: center;
    display: inline-table;
    margin:10px;
}

#student-name{
    background-color: #96df8c;
}

#add-points-btn{
    background-color: salmon;
    border-radius: 10px;
    border-color:salmon;
}

table, th, td {
    border: 1px solid;
    text-align: center;
  }

table{
    width:100%;
    border-collapse: collapse;
}

th{
    background-color: #96df8c;
}

